<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/::)</string>
	<string>/::~</string>
	<string>/::B</string>
	<string>/::|</string>
	<string>/:8-)</string>
	<string>/::&lt;</string>
	<string>/::$</string>
	<string>/::X</string>
	<string>/::Z</string>
	<string>/::'(</string>
	<string>/::-|</string>
	<string>/::@</string>
	<string>/::P</string>
	<string>/::D</string>
	<string>/::O</string>
	<string>/::(</string>
	<string>/::+</string>
	<string>/:--b</string>
	<string>/::Q</string>
	<string>/::T</string>
	<string>/:,@P</string>
	<string>/:,@-D</string>
	<string>/::d</string>
	<string>/:,@o</string>
	<string>/::g</string>
	<string>/:|-)</string>
	<string>/::!</string>
	<string>/::L</string>
	<string>/::&gt;</string>
	<string>/::,@</string>
	<string>/:,@f</string>
	<string>/::-S</string>
	<string>/:?</string>
	<string>/:,@x</string>
	<string>/:,@@</string>
	<string>/::8</string>
	<string>/:,@!</string>
	<string>/:!!!</string>
	<string>/:xx</string>
	<string>/:bye</string>
	<string>/:wipe</string>
	<string>/:dig</string>
	<string>/:handclap</string>
	<string>/:&amp;-(</string>
	<string>/:B-)</string>
	<string>/:&lt;@</string>
	<string>/:@&gt;</string>
	<string>/::-O</string>
	<string>/:&gt;-|</string>
	<string>/:P-(</string>
	<string>/::'|</string>
	<string>/:X-)</string>
	<string>/::*</string>
	<string>/:@x</string>
	<string>/:8*</string>
	<string>/:pd</string>
	<string>/:&lt;W&gt;</string>
	<string>/:beer</string>
	<string>/:basketb</string>
	<string>/:oo</string>
	<string>/:coffee</string>
	<string>/:eat</string>
	<string>/:pig</string>
	<string>/:rose</string>
	<string>/:fade</string>
	<string>/:showlove</string>
	<string>/:heart</string>
	<string>/:break</string>
	<string>/:cake</string>
	<string>/:li</string>
	<string>/:bome</string>
	<string>/:kn</string>
	<string>/:footb</string>
	<string>/:ladybug</string>
	<string>/:shit</string>
	<string>/:moon</string>
	<string>/:sun</string>
	<string>/:gift</string>
	<string>/:hug</string>
	<string>/:strong</string>
	<string>/:weak</string>
	<string>/:share</string>
	<string>/:v</string>
	<string>/:@)</string>
	<string>/:jj</string>
	<string>/:@@</string>
	<string>/:bad</string>
	<string>/:lvu</string>
	<string>/:no</string>
	<string>/:ok</string>
	<string>/:love</string>
	<string>/:&lt;L&gt;</string>
	<string>/:jump</string>
	<string>/:shake</string>
	<string>/:&lt;O&gt;</string>
	<string>/:circle</string>
	<string>/:kotow</string>
	<string>/:turn</string>
	<string>/:skip</string>
	<string>/:oY</string>
</array>
</plist>
