<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/:!!!</key>
	<string>Expression_38</string>
	<key>/:&amp;-(</key>
	<string>Expression_44</string>
	<key>/:,@!</key>
	<string>Expression_37</string>
	<key>/:,@-D</key>
	<string>Expression_22</string>
	<key>/:,@@</key>
	<string>Expression_35</string>
	<key>/:,@P</key>
	<string>Expression_21</string>
	<key>/:,@f</key>
	<string>Expression_31</string>
	<key>/:,@o</key>
	<string>Expression_24</string>
	<key>/:,@x</key>
	<string>Expression_34</string>
	<key>/:--b</key>
	<string>Expression_18</string>
	<key>/:8*</key>
	<string>Expression_55</string>
	<key>/:8-)</key>
	<string>Expression_5</string>
	<key>/::!</key>
	<string>Expression_27</string>
	<key>/::$</key>
	<string>Expression_7</string>
	<key>/::'(</key>
	<string>Expression_10</string>
	<key>/::'|</key>
	<string>Expression_51</string>
	<key>/::(</key>
	<string>Expression_16</string>
	<key>/::)</key>
	<string>Expression_1</string>
	<key>/::*</key>
	<string>Expression_53</string>
	<key>/::+</key>
	<string>Expression_17</string>
	<key>/::,@</key>
	<string>Expression_30</string>
	<key>/::-O</key>
	<string>Expression_48</string>
	<key>/::-S</key>
	<string>Expression_32</string>
	<key>/::-|</key>
	<string>Expression_11</string>
	<key>/::8</key>
	<string>Expression_36</string>
	<key>/::&lt;</key>
	<string>Expression_6</string>
	<key>/::&gt;</key>
	<string>Expression_29</string>
	<key>/::@</key>
	<string>Expression_12</string>
	<key>/::B</key>
	<string>Expression_3</string>
	<key>/::D</key>
	<string>Expression_14</string>
	<key>/::L</key>
	<string>Expression_28</string>
	<key>/::O</key>
	<string>Expression_15</string>
	<key>/::P</key>
	<string>Expression_13</string>
	<key>/::Q</key>
	<string>Expression_19</string>
	<key>/::T</key>
	<string>Expression_20</string>
	<key>/::X</key>
	<string>Expression_8</string>
	<key>/::Z</key>
	<string>Expression_9</string>
	<key>/::d</key>
	<string>Expression_23</string>
	<key>/::g</key>
	<string>Expression_25</string>
	<key>/::|</key>
	<string>Expression_4</string>
	<key>/::~</key>
	<string>Expression_2</string>
	<key>/:&lt;@</key>
	<string>Expression_46</string>
	<key>/:&lt;L&gt;</key>
	<string>Expression_92</string>
	<key>/:&lt;O&gt;</key>
	<string>Expression_95</string>
	<key>/:&lt;W&gt;</key>
	<string>Expression_57</string>
	<key>/:&gt;-|</key>
	<string>Expression_49</string>
	<key>/:?</key>
	<string>Expression_33</string>
	<key>/:@)</key>
	<string>Expression_84</string>
	<key>/:@&gt;</key>
	<string>Expression_47</string>
	<key>/:@@</key>
	<string>Expression_86</string>
	<key>/:@x</key>
	<string>Expression_54</string>
	<key>/:B-)</key>
	<string>Expression_45</string>
	<key>/:P-(</key>
	<string>Expression_50</string>
	<key>/:X-)</key>
	<string>Expression_52</string>
	<key>/:bad</key>
	<string>Expression_87</string>
	<key>/:basketb</key>
	<string>Expression_59</string>
	<key>/:beer</key>
	<string>Expression_58</string>
	<key>/:bome</key>
	<string>Expression_71</string>
	<key>/:break</key>
	<string>Expression_68</string>
	<key>/:bye</key>
	<string>Expression_40</string>
	<key>/:cake</key>
	<string>Expression_69</string>
	<key>/:circle</key>
	<string>Expression_96</string>
	<key>/:coffee</key>
	<string>Expression_61</string>
	<key>/:dig</key>
	<string>Expression_42</string>
	<key>/:eat</key>
	<string>Expression_62</string>
	<key>/:fade</key>
	<string>Expression_65</string>
	<key>/:footb</key>
	<string>Expression_73</string>
	<key>/:gift</key>
	<string>Expression_78</string>
	<key>/:handclap</key>
	<string>Expression_43</string>
	<key>/:heart</key>
	<string>Expression_67</string>
	<key>/:hug</key>
	<string>Expression_79</string>
	<key>/:jj</key>
	<string>Expression_85</string>
	<key>/:jump</key>
	<string>Expression_93</string>
	<key>/:kn</key>
	<string>Expression_72</string>
	<key>/:kotow</key>
	<string>Expression_97</string>
	<key>/:ladybug</key>
	<string>Expression_74</string>
	<key>/:li</key>
	<string>Expression_70</string>
	<key>/:love</key>
	<string>Expression_91</string>
	<key>/:lvu</key>
	<string>Expression_88</string>
	<key>/:moon</key>
	<string>Expression_76</string>
	<key>/:no</key>
	<string>Expression_89</string>
	<key>/:oY</key>
	<string>Expression_100</string>
	<key>/:ok</key>
	<string>Expression_90</string>
	<key>/:oo</key>
	<string>Expression_60</string>
	<key>/:pd</key>
	<string>Expression_56</string>
	<key>/:pig</key>
	<string>Expression_63</string>
	<key>/:rose</key>
	<string>Expression_64</string>
	<key>/:shake</key>
	<string>Expression_94</string>
	<key>/:share</key>
	<string>Expression_82</string>
	<key>/:shit</key>
	<string>Expression_75</string>
	<key>/:showlove</key>
	<string>Expression_66</string>
	<key>/:skip</key>
	<string>Expression_99</string>
	<key>/:strong</key>
	<string>Expression_80</string>
	<key>/:sun</key>
	<string>Expression_77</string>
	<key>/:turn</key>
	<string>Expression_98</string>
	<key>/:v</key>
	<string>Expression_83</string>
	<key>/:weak</key>
	<string>Expression_81</string>
	<key>/:wipe</key>
	<string>Expression_41</string>
	<key>/:xx</key>
	<string>Expression_39</string>
	<key>/:|-)</key>
	<string>Expression_26</string>
</dict>
</plist>
